Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

Automated deployment: Sat Dec 28 16:55:01 UTC 2019 40e33a6f1fbdda799beaede41d180a9e0b2471ad
  getting-started/getting-started.pdf
  getting-started/index.html
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/feminism/index.html
  howto/background/index.html
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/index.html
  howto/background/media/media.pdf
  howto/formats/bp/bp.pdf
  howto/formats/bp/index.html
  howto/index.html
  howto/index.pdf
  index.html
  index.pdf
  sitemap.xml.gz
Labels: none

Reformatted the documentation page on the justice system.
  docs/howto/background/justice.md
Labels: debating-guide, d3bate-docs

Automated deployment: Sat Dec 28 16:57:42 UTC 2019 a82a05e47a5410ed748d9b9331728cefd88b8374
  getting-started/getting-started.pdf
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/media.pdf
  howto/formats/bp/bp.pdf
  howto/index.pdf
  index.pdf
  search/search_index.json
  sitemap.xml.gz
Labels: none

Added a section on free will to the documentation.
  docs/howto/background/justice.md
Labels: debating-guide, d3bate-docs

Automated deployment: Sat Dec 28 17:33:31 UTC 2019 d8801bd63cee1eadf4a458d57c49e609c5ad750d
  getting-started/getting-started.pdf
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/media.pdf
  howto/formats/bp/bp.pdf
  howto/index.pdf
  index.pdf
  search/search_index.json
  sitemap.xml.gz
Labels: none

Updated cloud messaging.
  app/package-lock.json
  app/package.json
  app/public/firebase-messaging-sw.js
  app/src/index.js
  app/src/sync/index.js
Labels: client

Registered service worker.
  app/src/index.js
Labels: client

Added static html pre-rendering to reduce load times.
  app/package-lock.json
  app/package.json
  app/src/index.js
Labels: client

Updated prerendering to use react-snap instead of react-snapshot.
  app/package-lock.json
  app/package.json
  app/src/index.js
Labels: client

Updated navbar.
  app/src/components/Navbar.js
Labels: client

Added section on religion to debating guide.
  docs/howto/background/religion.md
  mkdocs.yml
Labels: debating-guide, d3bate-docs

Automated deployment: Sun Dec 29 08:22:47 UTC 2019 c590aa4c96a8b1e26ecdd3a63b2bf365109c0bc9
  404.html
  getting-started/getting-started.pdf
  getting-started/index.html
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/feminism/index.html
  howto/background/index.html
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/index.html
  howto/background/media/media.pdf
  howto/background/religion/index.html
  howto/background/religion/religion.pdf
  howto/formats/bp/bp.pdf
  howto/formats/bp/index.html
  howto/index.html
  howto/index.pdf
  index.html
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Improved README.md
  README.md
Labels: none

Updated the club route to conditionally render different views based on user roles.
  app/src/App.js
  app/src/views/club/ClubView.js
  app/src/views/club/MemberClubView.js
Labels: client

Updated login form to use Evergreen UI components
  app/src/views/Login.js
  app/src/views/club/AdminClubView.js
Labels: client

Updated register form to be consistent with the login form styles.
  app/src/views/Login.js
  app/src/views/Register.js
Labels: client

Updated EditCalendar to show only the relevant dates for each month.
  app/src/views/EditCalendar.js
Labels: client

Removed sabre repository and moved the CSS stylings from sabre into the main project.
  app/src/App.js
  app/src/build.css
Labels: client, graphic-design

Changed license to the Mozilla Public License.
  LICENSE
Labels: none

Updated firestore security rules.
  app/src/sync/models/listener.js
  app/src/views/club/AdminClubView.js
  firestore.rules
Labels: client

Changed security rules to allow users to see the other members of the club they are in.
  firestore.rules
Labels: none

Set security rules for club memberships to allow users from the same club to read each other's memberships.
  firestore.rules
Labels: none

Updated the `DatePicker` component to use react-router's `history.push` instead of manually setting `window.location`
  app/src/components/DatePicker.js
  app/src/views/Calendar.js
Labels: client

Added a listener to retrieve all the users in the current club.
  app/src/sync/models/listener.js
Labels: client

Aesthetic changes to the debating club admin view.
  app/src/views/club/AdminClubView.js
Labels: client

Added TakeRegister view.
  app/src/App.js
  app/src/components/Checkbox.js
  app/src/components/register/AddRegister.js
  app/src/views/Calendar.js
  app/src/views/TakeRegister.js
  app/src/views/ViewRegisters.js
Labels: client

Updated `TakeRegister` so that checkboxes now reflect the component's state.
  app/src/views/TakeRegister.js
Labels: client

Fixed a small semantic error in `README.md`
  README.md
Labels: none

Updated firestore security rules to allow users to take registers.
  firestore.rules
Labels: none

Updated `TakeRegister` so that multiple register documents for the same event are not created.
  app/src/views/TakeRegister.js
Labels: client

Added skeleton cloud function `sendEmailReminders` Note: this function is commented out so as to not be deployed to firebase as it is not yet ready.
  functions/index.js
Labels: cloud-functions

Added a password reset dialogue.
  app/src/components/PasswordReset.js
  app/src/views/Login.js
Labels: client

Tidied up the club view.
  app/src/views/club/AdminClubView.js
  app/src/views/club/MemberClubView.js
Labels: client

Moved around the links on the club view.
  app/src/views/club/AdminClubView.js
Labels: client

Updated security rules for the `register` collection.
  app/src/views/TakeRegister.js
  app/src/views/club/AdminClubView.js
  firestore.rules
Labels: client

Updated `TakeRegister` to show the value of the existing register document.
  app/src/sync/models/listener.js
  app/src/sync/models/register.js
  app/src/views/TakeRegister.js
Labels: client

Added a message board to give feedback to users.
  app/README.md
  app/src/App.js
  app/src/components/MessageBoard.js
  app/src/views/EditCalendar.js
Labels: client

Improved the formatting on the section on religion in the debating guide.
  docs/howto/background/religion.md
Labels: debating-guide, d3bate-docs

Automated deployment: Tue Dec 31 14:56:10 UTC 2019 fdb9b021abbcc18fb652c2345f28edd0e01a42a2
  getting-started/getting-started.pdf
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/index.pdf
  howto/background/justice/justice.pdf
  howto/background/media/media.pdf
  howto/background/religion/index.html
  howto/background/religion/religion.pdf
  howto/formats/bp/bp.pdf
  howto/index.pdf
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Updated `DatePicker` component to use evergreen.
  app/public/index.html
  app/src/components/DatePicker.js
Labels: client

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**
