Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**

Added function `issue_jwt` to sign JSON web tokens.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/auth/mod.rs
  backend/src/main.rs
Labels: none

Updated debating guide to read more clearly.
  docs/howto/argumentation/index.md
Labels: debating-guide, d3bate-docs

Automated deployment: Thu Dec 19 10:50:52 UTC 2019 1a0a6a8481b32a57e8844700b22f856c36098b9d
  getting-started/getting-started.pdf
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/index.pdf
  howto/background/justice/justice.pdf
  howto/background/media/media.pdf
  howto/formats/bp/bp.pdf
  howto/index.pdf
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Updated firestore security rules to allow register documents to be added and deleted.
  firestore.rules
  functions/index.js
Labels: cloud-functions

Added extra paths for the firebase deploy to run on.
  .github/workflows/firebase.yml
Labels: none

Fixed some syntax errors within `firestore.rules`
  firestore.rules
Labels: none

Added skeleton take register view.
  app/src/App.js
  app/src/views/TakeRegister.js
Labels: client

Updated mobx stores to reflect changes to the data structure.
  app/src/sync/models.js
Labels: client

Simplified mobx stores.
  app/src/sync/models.js
  app/src/views/EditCalendar.js
Labels: client

Updated firestore security rules.
  firestore.rules
Labels: none

Added contribution guidelines to the project.
  README.md
Labels: none

Added a snapshot lister for the register (only if the user is an admin)
  app/src/sync/models.js
  app/src/views/TakeRegister.js
  firestore.rules
Labels: client

Added git submodule `sabre` (the new d3bate CSS framework).
  .gitmodules
Labels: none

Changed `TakeRegister` text.
  app/src/App.js
  app/src/views/TakeRegister.js
Labels: client

Added area under construction illustration.
  assets/illustrations/area-under-construction.png
Labels: graphic-design

Added area under construction image.
  app/src/views/TakeRegister.js
Labels: client

Updated heading sizes to fit more comfortably on the page
  backend/migrations/2019-12-16-110756_create_users/down.sql
  backend/migrations/2019-12-16-110756_create_users/up.sql
Labels: none

Added image to area under construction page.
  app/src/App.js
  app/src/App.scss
  app/src/views/Dashboard.js
  backend/migrations/2019-12-16-110756_create_users/down.sql
  backend/migrations/2019-12-16-110756_create_users/up.sql
Labels: client, graphic-design

Updated `issue_jwt` function to set a 15 minute expiry date for jwt tokens.
  backend/src/auth/mod.rs
Labels: none

Added a JWT struct to `auth/mod.rs`
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/clubs/mod.rs
  backend/src/main.rs
Labels: none

Added an SQLite Pool.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/main.rs
Labels: none

Added functions `get_user_by_email` and `check_password`
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
Labels: none

Updated CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  backend/src/auth/error.rs
  backend/src/auth/mod.rs
Labels: none

Moved models into separate files.
  app/src/sync/messages.js
  app/src/sync/models.js
  app/src/sync/models/attendance.js
  app/src/sync/models/calendar.js
  app/src/sync/models/club.js
  app/src/sync/models/register.js
  app/src/views/Calendar.js
  app/src/views/EditCalendar.js
  backend/src/auth/error.rs
  backend/src/auth/mod.rs
Labels: client

Moved models into separate files
  app/src/sync/models/attendance.js
  app/src/sync/models/calendar.js
  app/src/sync/models/finditem.js
  app/src/sync/models/listener.js
  app/src/sync/models/register.js
Labels: client

Added `AuthError` enum.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/auth/mod.rs
  backend/src/main.rs
Labels: none

Added password checking before issuing a JWT
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
Labels: none

Changed security rules to allow club administrators to see all the users in their club.
  app/package-lock.json
  app/package.json
  app/src/components/AreaUnderConstruction.js
  app/src/components/register/AddRegister.js
  app/src/views/TakeRegister.js
  app/src/views/ViewRegisters.js
  firestore.rules
  functions/index.js
Labels: client, cloud-functions

Added mobx store ClubUsers
  app/src/sync/models/clubUsers.js
  docs/howto/background/justice.md
  firestore.rules
Labels: client, debating-guide, d3bate-docs

Changed `sync/models/listener` so as not to create more than one listener for the same query
  app/src/sync/models/listener.js
Labels: client

Improved the UI for the view profile interface.
  app/package-lock.json
  app/package.json
  app/src/App.js
  app/src/App.scss
  app/src/components/AreaUnderConstruction.js
  app/src/components/Navbar.js
  app/src/index.js
  app/src/sync/models.js
  app/src/views/Calendar.js
  app/src/views/Dashboard.js
  app/src/views/Profile.js
Labels: client, graphic-design

Automated deployment: Sat Dec 28 14:13:31 UTC 2019 4de6feb60c8538f0f0adbe9311fad3065ce54f01
  getting-started/getting-started.pdf
  getting-started/index.html
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/feminism/index.html
  howto/background/index.html
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/index.html
  howto/background/media/media.pdf
  howto/formats/bp/bp.pdf
  howto/formats/bp/index.html
  howto/index.html
  howto/index.pdf
  index.html
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Updated firebase deploy github action to checkout submodules.
  .github/workflows/firebase.yml
  app/src/views/Profile.js
Labels: client

Fixed a syntax error in the Github action for the firebase deploy.
  .github/workflows/firebase.yml
Labels: none

Updated firestore security rules to allow users to view their own documents.
  app/src/App.js
  app/src/views/club/AdminClubView.js
  firestore.rules
Labels: client

Added a view club dashboard for administrators.
  app/src/views/club/AdminClubView.js
  firestore.rules
Labels: client

Added contribution guidelines
  CONTRIBUTING.md
Labels: none

Updated documentation on justice.
  docs/howto/background/justice.md
  mkdocs.yml
Labels: debating-guide, d3bate-docs

Automated deployment: Sat Dec 28 16:51:14 UTC 2019 983b6bb578ab2cd5d5ccdbefc81eab1ff3c77963
  404.html
  getting-started/getting-started.pdf
  getting-started/index.html
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/feminism/index.html
  howto/background/index.html
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/index.html
  howto/background/media/media.pdf
  howto/formats/bp/bp.pdf
  howto/formats/bp/index.html
  howto/index.html
  howto/index.pdf
  index.html
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Added last updated and minify html plugins to the documentation.
  .github/workflows/docs.yml
  mkdocs.yml
Labels: none
