Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**

Updated the layout of the calendar to make it display better on smaller screens.
  app/src/App.scss
  app/src/views/Calendar.js
Labels: client, graphic-design

Updated contribution guidlines in the project `README.md`
  README.md
Labels: none

Added `CalendarEvent` view component.
  app/src/App.js
  app/src/views/Calendar.js
  app/src/views/CalendarEvent.js
Labels: client

Updated `README.md` to include reference to (planned) machine learning/statistics.
  README.md
Labels: none

Setup `ml` directory.
  .gitignore
  README.md
  ml/requirements.txt
Labels: none

Added file `bayes.py` (in which some bayesian inference will, at some point, be added).
  README.md
  ml/bayes.py
Labels: none

Added more material to section on religion.
  docs/howto/background/religion.md
Labels: debating-guide, d3bate-docs

Added section on media to navbar
  docs/howto/background/media.md
  mkdocs.yml
Labels: debating-guide, d3bate-docs

Automated deployment: Wed Jan 1 10:03:00 UTC 2020 91603521a0d4f31e9a64025adac82193d2c77c02
  404.html
  getting-started/getting-started.pdf
  getting-started/index.html
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/feminism/index.html
  howto/background/index.html
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/index.html
  howto/background/media/media.pdf
  howto/background/religion/index.html
  howto/background/religion/religion.pdf
  howto/formats/bp/bp.pdf
  howto/formats/bp/index.html
  howto/index.html
  howto/index.pdf
  index.html
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Updated `CalendarEvent` component to display the date on which the event is.
  app/src/views/CalendarEvent.js
  ml/bayes.py
Labels: client

Changed security rules to allow club administrators to see confirmed attendance for events.
  firestore.rules
Labels: none

Updated `Calendar` view to add the club id to documents in the attendance collection.
  app/src/views/Calendar.js
Labels: client

Switched `MessageBoard` alerts to use evergreen's `Alert` component instead of the `Card` component.
  app/src/components/MessageBoard.js
Labels: client

Changed the `DatePicker` button so that it has a valid property guiding its appearance.
  app/src/components/DatePicker.js
Labels: client

Created a new component `ViewEvent` to show events within the calendar.
  app/src/components/ViewEvent.js
  app/src/views/Calendar.js
Labels: client

Updated `ViewEvent` to show an overlay instead of redirecting to a new page to show the register.
  app/src/components/CalendarEvent.js
  app/src/components/ViewEvent.js
Labels: client

Removed the old `CalenderEvent` component.
  app/src/App.js
  app/src/views/CalendarEvent.js
Labels: client

Removed an import to the (now defunct) `CalendarEvent` component.
  app/src/App.js
Labels: client

Removed register route and added it instead as an overlay.
  app/src/App.js
  app/src/components/TakeRegister.js
  app/src/components/ViewEvent.js
  app/src/views/Login.js
  app/src/views/TakeRegister.js
Labels: client

Removed a call to `e.preventDefault()` which stopped checkboxes from updating (weird!)
  app/src/components/TakeRegister.js
Labels: client

Added a link to take a register from the `CalendarEvent` component.
  app/src/components/CalendarEvent.js
  app/src/components/TakeRegister.js
  app/src/components/ViewEvent.js
Labels: client

Updated the `Dasboard` component to display fonts at a reasonable size.
  app/src/views/Dashboard.js
Labels: client

Added a link to the documentation.
  app/src/views/Dashboard.js
Labels: client

Removed a superfluous snapshot listener.
  app/src/sync/index.js
Labels: client

Added collection 'judge' to allow judged debates to be stored.
  firestore.rules
Labels: none

Added some skeleton components for the `DebateJudger` view.
  app/package-lock.json
  app/package.json
  app/src/views/DebateJudger.js
Labels: client

Removed unnecessary calls to mobx's `observer` function in the `DebateJudger` component. =
  app/src/views/DebateJudger.js
Labels: client

Added a listener for the `debateNotes` colleciton.
  README.md
  app/src/sync/models/debateNotes.js
  app/src/sync/models/listener.js
Labels: client

Updated copyleft notice.
  app/src/App.scss
  app/src/components/Footer.js
  app/src/sync/models/listener.js
Labels: client, graphic-design

Changed `DebateJudger` to load documents from firebase.
  app/src/views/DebateJudger.js
Labels: client

Improved layout of the `Dashboard` component on small screens.
  app/src/views/Dashboard.js
Labels: client

Cleaned up formatting on the homepage (the `Dashboard` component).
  app/src/views/Dashboard.js
  app/src/views/DebateJudger.js
Labels: client

Added register route.
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
Labels: none

Implemented `std::convert::From` traits for `AuthError`.
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/main.rs
Labels: none

Fixed some ownership rules involving passing the SQL pool connection around.
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/main.rs
Labels: none

Added actix web server to `main.rs`.
  backend/src/auth/routes.rs
  backend/src/main.rs
Labels: none

Added the login route to the custom backend.
  backend/src/auth/routes.rs
Labels: none

Improved the clarity of the code of conduct.
  CODE_OF_CONDUCT.md
Labels: none

Added docstrings to some functions.
  backend/src/auth/mod.rs
Labels: none

Added a macro expression to automatically generate routes to update data in diesel tables.
  backend/src/clubs/mod.rs
  backend/src/main.rs
Labels: none
