Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

Automated deployment: Sun Dec 15 19:44:17 UTC 2019 8338fd662cffd8d3046140ec5a60b1013c53ab48
  sitemap.xml.gz
Labels: none

Added functional tests.
  .github/workflows/functional-tests.yml
  app/package-lock.json
  app/package.json
  app/tests/App.test.js
Labels: client

Automated deployment: Mon Dec 16 09:12:52 UTC 2019 8836a49fa30101f8470135a3464e9cf07b414a57
  sitemap.xml
  sitemap.xml.gz
Labels: none

Added `npm install` for tests.
  .github/workflows/functional-tests.yml
Labels: none

Automated deployment: Mon Dec 16 09:15:58 UTC 2019 47fd19aec8802f762b97e21ffcd6347127fe66ef
  sitemap.xml.gz
Labels: none

Changed docs and firebase github actions to run only when the relevant directories change.
  .github/workflows/docs.yml
  .github/workflows/firebase.yml
Labels: none

Added CI environment variable for Jest tests.
  .github/workflows/tests.yml
  app/tests/App.test.js
Labels: client

Set CI environment variable in YAML file instead of as part of the command.
  .github/workflows/tests.yml
Labels: none

Updated the path for which tests should run.
  .github/workflows/tests.yml
Labels: none

Added `mkdocs.yml` to the paths which trigger a build of the documentation.
  .github/workflows/docs.yml
Labels: none

Added github repository to mkdocs + changed mkdocs icon.
  mkdocs.yml
Labels: none

Automated deployment: Mon Dec 16 10:14:33 UTC 2019 392d4ad6cd80ac118cb0d7302a835c4e2cad6e9e
  404.html
  getting-started/index.html
  howto/argumentation/index.html
  howto/background/index.html
  howto/formats/bp/index.html
  howto/index.html
  index.html
  sitemap.xml.gz
Labels: none

Updated argumentation page in the documentation.
  docs/howto/argumentation/index.md
Labels: debating-guide, d3bate-docs

Automated deployment: Mon Dec 16 10:43:45 UTC 2019 348aba65c7a06c040d7b6b3995a1ab4a30c9daa2
  howto/argumentation/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Added skeleton backend (with `cargo init`)
  backend/Cargo.toml
  backend/src/main.rs
Labels: none

Added a hello world route to the custom backend.
  backend/Cargo.toml
  backend/src/main.rs
Labels: none

Added skeleton files for the debating how-to guide.
  docs/howto/background/feminism.md
  docs/howto/background/justice.md
  docs/howto/background/media.md
Labels: debating-guide, d3bate-docs

Automated deployment: Mon Dec 16 10:58:44 UTC 2019 bd213fef69990e8303f9d61fa3a1306c75f16eaf
  howto/background/feminism/index.html
  howto/background/justice/index.html
  howto/background/media/index.html
  search/search_index.json
  sitemap.xml.gz
Labels: none

Added a pdf export for the documentation.
  .github/workflows/docs.yml
  mkdocs.yml
Labels: none

Automated deployment: Mon Dec 16 11:01:17 UTC 2019 7a02c888abfe53212314f41ca16766926aa99e59
  getting-started/getting-started.pdf
  getting-started/index.html
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/feminism/index.html
  howto/background/index.html
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/index.html
  howto/background/media/media.pdf
  howto/formats/bp/bp.pdf
  howto/formats/bp/index.html
  howto/index.html
  howto/index.pdf
  index.html
  index.pdf
  sitemap.xml.gz
Labels: none

Setup `diesel.rs` ORM.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/diesel.toml
  backend/migrations/.gitkeep
Labels: none

Added firebase push notifications (and a service worker for the push notifications).
  app/public/firebase-messaging-sw.js
  app/src/index.js
  app/src/sync/index.js
  backend/Cargo.lock
  backend/Cargo.toml
  backend/diesel.toml
  backend/migrations/.gitkeep
Labels: client

Added a missing import statement for 'firebase/messaging'
  app/src/sync/index.js
Labels: client

Added event listener for messages.
  app/src/index.js
  app/src/sync/index.js
Labels: client

Added correct firebase messaging sender id
  app/public/firebase-messaging-sw.js
  functions/index.js
Labels: client, cloud-functions

Added initial migration for the database models (after fixing a segmentation fault).
  backend/Cargo.lock
  backend/Cargo.toml
  backend/app.db
  backend/diesel.toml
  backend/migrations/.gitkeep
  backend/migrations/2019-12-16-161249_initial_models/down.sql
  backend/migrations/2019-12-16-161249_initial_models/up.sql
  backend/src/main.rs
  backend/src/schema.rs
Labels: none

Added `models.rs` plus update some database definitions.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/app.db
  backend/migrations/2019-12-16-161249_initial_models/up.sql
  backend/src/lib.rs
  backend/src/models.rs
  backend/src/schema.rs
Labels: none

Added basic database models (in Rust)
  backend/src/models.rs
Labels: none

Added user authentication models (these are far from complete).
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Rocket.toml
  backend/src/connection.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models.rs
  backend/src/users/handler.rs
  backend/src/users/mod.rs
  backend/src/users/query_functions.rs
  backend/src/users/routes.rs
Labels: none

Added `try {...} catch {...}` statement for firebase messaging.
  app/src/sync/index.js
Labels: client

Added a function to generate JSON web tokens.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/users/auth.rs
  backend/src/users/handler.rs
  backend/src/users/mod.rs
Labels: none

Added a test for the function `issue_jwt` and a Github action to automatically run rust tests.
  .github/workflows/backend-tests.yml
  .github/workflows/tests.yml
  backend/src/users/auth.rs
Labels: none

Fixed a syntax error in the backend-tests Github action.
  .github/workflows/backend-tests.yml
Labels: none

Fixed an error where diesel was being imported multiple times.
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models.rs
  backend/src/users/auth.rs
  backend/src/users/query_functions.rs
Labels: none

Fixed imports which were causing bugs.
  backend/src/main.rs
  backend/src/users/auth.rs
  backend/src/users/mod.rs
  backend/src/users/query_functions.rs
Labels: none

Updated Github actions `test-backend` to run tests from within the `./backend` directory.
  .github/workflows/backend-tests.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/users/auth.rs
  backend/src/users/mod.rs
Labels: none

Updated rust test action.
  .github/workflows/backend-tests.yml
  backend/src/main.rs
Labels: none

Added ability to insert users into the database.
  .github/workflows/backend-tests.yml
  backend/app.db
  backend/src/main.rs
  backend/src/models.rs
Labels: none

Removed some duplicate imports and renamed the `users` module to `auth` to prevent name conflicts.
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/main.rs
  backend/src/users/auth.rs
  backend/src/users/mod.rs
  backend/src/users/query_functions.rs
Labels: none

Added a function `get_user` to retrieve users from the database.
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/auth/mod.rs
  backend/src/main.rs
  backend/src/models.rs
Labels: none

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**
