Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**

Updated netlify.toml
  netlify.toml
Labels: none

Removed unnecessary call to yarn.
  netlify.toml
Labels: none

Updated styling for the login route.
  client/App.js
  client/views/Login.js
Labels: none

Fixed an attribute error.
  client/views/Register.js
Labels: none

Improved look of the 'register' view.
  client/views/Register.js
Labels: none

Added run script for the backend.
  backend/app.py
  backend/run.sh
Labels: none

Added database initialisation in the run script.
  backend/app.py
  backend/run.sh
  client/views/Login.js
  client/views/Register.js
Labels: none

Added redux devtools.
  client/state/index.js
Labels: none

Fixed some syntax errors.
  client/state/index.js
  client/views/Login.js
Labels: none

Added message board.
  backend/app.py
  client/App.js
  client/components/Messages.js
  client/styles/index.js
  client/views/Login.js
Labels: none

Added button to remove messages.
  client/components/Messages.js
  client/state/index.js
Labels: none

Updated netlify command.
  netlify.toml
Labels: none

Added links to the navbar.
  client/App.js
  client/components/Navbar.js
Labels: none

Removed netlify.toml.
  .github/workflows/deploy.yml
  netlify.toml
Labels: none

Added `deploy.yml` action.
  .firebaserc
  .github/workflows/deploy.yml
  firebase.json
Labels: none

Removed excess indentation.
  .github/workflows/deploy.yml
Labels: none

Added skeleton clubs view.
  .github/workflows/deploy.yml
  client/App.js
  client/views/ClubOverview.js
  client/views/Clubs.js
Labels: none

Added missing repository checkouts.
  .github/workflows/deploy.yml
Labels: none

Added CreateClub component.
  client/components/Clubs/CreateClub.js
  client/state/index.js
  client/views/Clubs.js
Labels: none

Added expo action.
  .github/workflows/deploy.yml
Labels: none

Fixed a syntax error.
  .github/workflows/deploy.yml
Labels: none

Added user role to `api/club/create` return data.
  backend/club.py
Labels: none

Added call for `fetchClubData`
  client/state/index.js
  client/views/Clubs.js
Labels: none

Simplified 'api/club/get_all' route.
  backend/club.py
  backend/tests.py
Labels: none

Removed unnecessary 'functions' folder.
  .github/workflows/deploy.yml
  functions/.gitignore
  functions/index.js
  functions/package-lock.json
  functions/package.json
Labels: cloud-functions

Added use of arg operator.
  backend/club.py
  backend/tests.py
Labels: none

Updated tests.
  backend/tests.py
Labels: none

Added more error handling for `fetchClubData`
  client/state/index.js
Labels: none

Added pyscopg2 Please note that this requirement is ony necessary if you plan to use a Postgres datbase. Users using SQLite do not need this dependency.
  backend/requirements.txt
Labels: none

Removed macOS tests. This is a temporary measure because I cannot get pyscopg2 to install on MacOS.
  .github/workflows/tests.yml
Labels: none

Use pyscopg2-binary instead of pyscopg2
  .github/workflows/tests.yml
  backend/requirements.txt
Labels: none

Added nlkt.txt (for NLP on the backend)
  backend/nltk.txt
Labels: none

Added code to view clubs.
  client/components/Clubs/ClubList.js
  client/views/Clubs.js
Labels: none

Updated styling of the message board.
  client/components/Messages.js
Labels: none

Updated documentation config for new url.
  docs/config.toml
  docs/templates/base.html
Labels: d3bate-docs

Automated deployment: Fri Mar 27 09:51:13 UTC 2020 ae8f43e2060abea9198a99ef6832227098b8ac22
  dev/index.html
  index.html
  manual/index.html
  robots.txt
  search_index.en.js
  sitemap.xml
Labels: none

Added database migrations.
  backend/migrations/versions/37838173c282_.py
  backend/models.py
  backend/requirements.txt
  client/views/Dashboard.js
Labels: none

Added flask mail configuration.
  backend/app.py
Labels: none

Added email verification.
  backend/app.py
  backend/auth.py
  backend/templates/base.html
  backend/templates/confirm_failiure.html
  backend/templates/confirm_verification.html
  backend/templates/email_confirmation.html
Labels: none

Switched email to Mailgun API
  backend/app.py
  backend/auth.py
  backend/templates/base.html
  backend/templates/confirm_failure.html
  backend/tests.py
  backend/tests.sh
Labels: none
