Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**

Added basic handling for websockets.
  .github/workflows/docs.yml
  backend/models.py
  backend/performant_websockets/.idea/vcs.xml
  backend/performant_websockets/src/lib.rs
  docs/getting-started.md
  docs/howto/argumentation/index.md
  docs/howto/argumentation/structure.md
  docs/howto/background/feminism.md
  docs/howto/background/index.md
  docs/howto/background/justice.md
  docs/howto/background/media.md
  docs/howto/background/religion.md
  docs/howto/formats/bp.md
  docs/howto/index.md
  docs/index.md
Labels: debating-guide, d3bate-docs

Added new documentation.
  docs/config.toml
  docs/content/_index.md
  docs/templates/base.html
  docs/templates/index.html
Labels: d3bate-docs

Added missing change directory command before building the documentation.
  .github/workflows/docs.yml
Labels: none

Fixed a syntax error. There was a missing indentation in a Github action.
  .github/workflows/docs.yml
Labels: none

Added some code to the CRUD macro (for automagically creating wrappers around the diesel schema).
  backend/performant_websockets/Cargo.toml
  backend/performant_websockets/src/db.rs
  backend/performant_websockets/src/lib.rs
Labels: none

Added a struct to represent user faces.
  backend/performant_websockets/src/lib.rs
Labels: none

Added python bindings to the performant_websockets crate.
  backend/performant_websockets/Cargo.toml
  backend/performant_websockets/src/lib.rs
  backend/performant_websockets/src/server.rs
  client/constants.js
  client/views/TrainingSessionLivestream.js
  docs/content/_index.md
Labels: d3bate-docs

Added diesel configuration.
  backend/performant_websockets/diesel.toml
Labels: none

Fixed some errors in the documentation code.
  docs/content/_index.md
  docs/templates/base.html
Labels: d3bate-docs

Added tests for different operating systems.
  .github/workflows/tests.yml
Labels: none

Added `WsDebateSession` struct.
  .github/workflows/tests.yml
  backend/performant_websockets/src/lib.rs
  backend/performant_websockets/src/server.rs
Labels: none

Added code to close websocket connections.
  backend/performant_websockets/src/server.rs
Labels: none

Removed tests for windows.
  .github/workflows/tests.yml
Labels: none

Added code for the debate websockets route.
  backend/performant_websockets/src/server.rs
Labels: none

Updated title page text.
  docs/content/_index.md
Labels: d3bate-docs

Updated styling for the landing page of the application.
  docs/content/_index.md
  docs/sass/styles.scss
  docs/templates/base.html
  docs/templates/index.html
Labels: d3bate-docs

Added more styling to the static pages.
  docs/content/_index.md
  docs/content/manual/_index.md
  docs/sass/styles.scss
  docs/templates/base.html
  docs/templates/section.html
Labels: d3bate-docs

Updated documentation deploy directory.
  .github/workflows/docs.yml
Labels: none

Further updated styling.
  docs/content/dev/_index.md
  docs/static/images/development-workflow.svg
  docs/templates/base.html
Labels: d3bate-docs

Automated deployment: Wed Mar 25 11:59:17 UTC 2020 16a3451db02efeee6d078b366ad6a781bc791a10
  404.html
  dev/index.html
  elasticlunr.min.js
  images/development-workflow.svg
  index.html
  manual/index.html
  robots.txt
  search_index.en.js
  sitemap.xml
  styles.css
Labels: none

Updated URL prefixes to work for Github pages.
  docs/templates/base.html
Labels: d3bate-docs

Automated deployment: Wed Mar 25 12:01:39 UTC 2020 a8bd274b6d357ddcd6de44d56bf8ae64507c2737
  dev/index.html
  index.html
  manual/index.html
Labels: none

Fixed a typo.
  backend/performant_websockets/src/server.rs
  docs/content/_index.md
Labels: d3bate-docs

Automated deployment: Wed Mar 25 12:02:59 UTC 2020 c2f0c4959ccbf973ad9701da5b829fc24946fe9c
  index.html
Labels: none

Updated text styling.
  docs/content/_index.md
  docs/sass/styles.scss
  docs/templates/base.html
  docs/templates/index.html
Labels: d3bate-docs

Automated deployment: Wed Mar 25 12:07:15 UTC 2020 ba7219df80ed5aa490464226e3eca382ca27aaca
  dev/index.html
  index.html
  manual/index.html
  styles.css
Labels: none

Added skeleton handling for incoming WebSocket messages.
  backend/performant_websockets/src/server.rs
Labels: none

Added extra websocket actions.
  backend/performant_websockets/src/server.rs
Labels: none

Updated websocket implementation.
  backend/performant_websockets/Cargo.toml
  backend/performant_websockets/src/db.rs
  backend/performant_websockets/src/lib.rs
  backend/performant_websockets/src/server.rs
Labels: none

Added method `find_speaker` for debates.
  backend/performant_websockets/src/server.rs
Labels: none

Added skeleton login view.
  client/views/Login.js
Labels: none

Fetch JWT from server after logging in.
  client/state/index.js
  client/views/Login.js
Labels: none

Added skeleton register view.
  client/views/Register.js
Labels: none

Added email validation.
  client/helpers.js
  client/views/Register.js
Labels: none

Added check that passwords match.
  client/views/Register.js
Labels: none

Added login and register views to the router.
  client/App.js
  client/views/Register.js
Labels: none

Added skeleton styles.
  client/app.json
  client/styles/index.js
Labels: none

Switched package manager to use Yarn.
  client/App.js
  client/package-lock.json
  client/state/index.js
  client/yarn.lock
Labels: none

Added navigation bar.
  client/App.js
  client/components/Navbar.js
  client/package.json
  client/styles/index.js
  client/yarn.lock
Labels: none

Added netlify.toml
  netlify.toml
Labels: none
