Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

Automated deployment: Wed Jan 29 19:52:33 UTC 2020 64e1d25205369171e4f4ead459a792a3888ba3a7
  getting-started/getting-started.pdf
  howto/argumentation/index.pdf
  howto/argumentation/structure/index.html
  howto/argumentation/structure/structure.pdf
  howto/background/feminism/feminism.pdf
  howto/background/index.pdf
  howto/background/justice/justice.pdf
  howto/background/media/media.pdf
  howto/background/religion/religion.pdf
  howto/formats/bp/bp.pdf
  howto/index.pdf
  index.pdf
  search/search_index.json
  sitemap.xml.gz
Labels: none

Added code to retrieve users from the database.
  backend/app.py
  backend/auth/__init__.py
Labels: none

Updated CSS styling.
  app/src/App.scss
  app/src/components/ViewEvent.js
Labels: client, graphic-design

Reconfigured database models.
  backend/app.py
  backend/auth/__init__.py
  backend/db/__init__.py
  backend/models.py
  backend/tests.py
  backend/tests.sh
Labels: none

Added training session attendance model.
  backend/app.py
  backend/auth.py
  backend/models.py
Labels: none

Added login and registration routes.
  backend/auth.py
  backend/models.py
Labels: none

Added database migrations.
  backend/app.py
  backend/auth.py
  backend/club.py
  backend/migrations/README
  backend/migrations/alembic.ini
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/39480a1484c8_.py
  backend/migrations/versions/92089a34d190_.py
  backend/models.py
  backend/tests.py
  backend/tests.sh
Labels: none

Added 'not null' attributes to several user-related columns.
  backend/app.py
  backend/club.py
  backend/migrations/versions/c6bd6765c9f9_.py
  backend/models.py
  backend/tests.py
Labels: none

Added code to get a list of clubs the user belongs to.
  backend/club.py
  backend/tests.py
Labels: none

Updated SQL query for clubs which a user is a member of.
  backend/club.py
  backend/migrations/env.py
  backend/migrations/versions/39480a1484c8_.py
  backend/migrations/versions/c523574bfbd4_.py
  backend/migrations/versions/c6bd6765c9f9_.py
  backend/models.py
  backend/tests.py
Labels: none

Removed superfluous database queries.
  backend/club.py
Labels: none

Added code to allow users to leave a debating club.
  backend/club.py
  backend/tests.py
Labels: none

Added code to allow users to manipulate training sessions.
  backend/club.py
  backend/models.py
Labels: none

Added tests for training sessions.
  backend/club.py
  backend/migrations/versions/c523574bfbd4_.py
  backend/models.py
  backend/tests.py
Labels: none

Added skeleton websockets.
  backend/app.py
  backend/auth.py
  backend/club.py
  backend/tests.py
  backend/websockets/__init__.py
Labels: none

Added code to allow users to send audio and video.
  backend/websockets/__init__.py
Labels: none

Added missing files.
  app/src/react-app-env.d.ts
Labels: client

Added redis config.
  backend/app.py
Labels: none

Added Procfile
  backend/Procfile
Labels: none

Added skeleton react native application (for the new backend).
  .gitignore
  client/.expo-shared/assets.json
  client/.gitignore
  client/App.js
  client/app.json
  client/assets/icon.png
  client/assets/splash.png
  client/babel.config.js
  client/package-lock.json
  client/package.json
Labels: none

Updated Procfile to use eventlet to support the use of WebSockets.
  backend/Procfile
Labels: none

Added requirements.txt
  backend/requirements.txt
Labels: none

Updated requirements.txt
  backend/requirements.txt
Labels: none

Added psycopg2 to requirements.txt to provide Postgres support.
  backend/requirements.txt
Labels: none

Added missing call of `socketio`'s `init_app` method.
  backend/app.py
  backend/auth.py
  backend/websockets/__init__.py
Labels: none

Updated Procfile command.
  backend/Procfile
  backend/app.py
Labels: none

Fixed a semantic error.
  backend/app.py
Labels: none

Set a custom location for session data.
  backend/app.py
Labels: none

Froze dependencies.
  backend/requirements.txt
Labels: none

Updated `README.md`
  CODE_OF_CONDUCT.md
  README.md
Labels: none

Removed redundant 'ml' folder.
  ml/bayes.py
  ml/requirements.txt
Labels: none

Added messages reducer to display user feedback.
  client/state/index.js
Labels: none

Added 'clubReducer' and 'trainingSessionReducer'.
  client/state/index.js
Labels: none

Removed now redundant frontend tests.
  .github/workflows/tests.yml
Labels: none

Added action handling to the clubs reducer.
  client/state/index.js
Labels: none

Added `AuthReducer`.
  client/state/index.js
Labels: none

Added `default` switches for reducers.
  client/state/index.js
Labels: none

Added skeleton views.
  client/package-lock.json
  client/package.json
  client/state/index.js
  client/views/ClubOverview.js
  client/views/ClubTrainingSessions.js
  client/views/EditClubTrainingSessions.js
  client/views/TrainingSessionLivestream.js
Labels: none

Added React Router.
  client/package-lock.json
  client/package.json
  client/routing/routing.native.js
  client/routing/routing.web.js
Labels: none

Added action `RECEIVE_CREATE_CLUB`
  client/state/index.js
Labels: none

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**
