Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions, graphic-design, debating-guide, d3bate-docs

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*

graphic-design:
- assets/**/*
- app/src/App.scss
- app/src/*.css

debating-guide:
- docs/howto/**

d3bate-docs:
- docs/**

Refactored macros to use only a single macro to create all the routes.
  backend/src/clubs/mod.rs
Labels: none

Created function `add_$name` to add items into a table.
  backend/src/clubs/mod.rs
Labels: none

Added structs to decode API calls.
  backend/src/clubs/mod.rs
Labels: none

Updated the code of conduct.
  CODE_OF_CONDUCT.md
Labels: none

Updated position on criticism in the code of conduct.
  CODE_OF_CONDUCT.md
Labels: none

Updated app name in the `manifest.json` file.
  app/public/manifest.json
  backend/src/auth/routes.rs
Labels: client

Updated edit calendar view.
  app/src/views/EditCalendar.js
Labels: client

Changed app icon.
  app/public/favicon.png
  app/public/index.html
  app/public/manifest.json
Labels: client

Rewrote DebateJudger component.
  app/package-lock.json
  app/package.json
  app/src/App.js
  app/src/views/DebateJudger.js
Labels: client

Switched `TextInput` components to be `Textareas`. This will allow users to more easily add debating notes as they will be able to write on multiple lines and resize textboxes as needed.
  app/src/views/DebateJudger.js
Labels: client

Added padding and margins to give a clear separation between speakers.
  app/src/views/DebateJudger.js
Labels: client

Added a placeholder for the select user dropdown in the `DebateJudger` view.
  app/src/views/DebateJudger.js
Labels: client

Updated firestore security rules to allow club admins to write to the `judge` collection.
  app/src/views/DebateJudger.js
  firestore.rules
Labels: client

Updated `debateNotesListener` to subscribe using the correct value for the `clubID`.
  app/src/sync/models/listener.js
Labels: client

Added warning messages for the judge debate view.
  app/src/components/CalendarEvent.js
  app/src/views/DebateJudger.js
Labels: client

Updated firestore security rules. My IDE had formatted them weirdly.
  firestore.rules
Labels: none

Added code for function `verify_jwt`.
  backend/Cargo.toml
  backend/src/auth/mod.rs
Labels: none

Added the `From` trait for `jwt::errors::Error` for the `TokenGenerationError` crate.
  backend/src/auth/mod.rs
Labels: none

Updated "Test backend" Github action.
  .github/workflows/backend-tests.yml
Labels: none

Changed models to add an association between clubs and the `clubmemberships` table.
  backend/src/clubs/mod.rs
  backend/src/models.rs
Labels: none

Updated backend tests Github action.
  .github/workflows/backend-tests.yml
Labels: none

Added code to get clubs from the server.
  backend/src/auth/mod.rs
  backend/src/clubs/mod.rs
  backend/src/helpers/mod.rs
  backend/src/main.rs
  backend/src/models.rs
Labels: none

Added `std::convert::From` to convert authentication errors to actix request errors.
  backend/src/auth/mod.rs
  backend/src/clubs/mod.rs
Labels: none

Formatted error as response error instead of a regular error.
  backend/src/auth/mod.rs
  backend/src/clubs/mod.rs
Labels: none

Updated application logic to support more than one debate per event.
  app/src/components/ViewEvent.js
  app/src/views/DebateJudger.js
Labels: client

Added names describing each team above the boxes for commentary.
  app/src/views/DebateJudger.js
Labels: client

Added more informative alerts for the judge debate page.
  app/src/views/DebateJudger.js
Labels: client

Updated README.md to reflect project aims for the backend.
  README.md
Labels: none

Added code to add positions for each team after a debate.
  app/src/views/DebateJudger.js
Labels: client

Added a section on harms to the debating documentation.
  app/src/views/DebateJudger.js
  docs/howto/argumentation/index.md
Labels: client, debating-guide, d3bate-docs

Automated deployment: Wed Jan 15 16:21:22 UTC 2020 872f221d7edf24f1c44778cd84d6e3dcf3a47999
  getting-started/getting-started.pdf
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/background/feminism/feminism.pdf
  howto/background/index.pdf
  howto/background/justice/justice.pdf
  howto/background/media/media.pdf
  howto/background/religion/religion.pdf
  howto/formats/bp/bp.pdf
  howto/index.pdf
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Added a 'close' button to allow people to close the 'judge debate' dialogue on a mobile device.
  app/src/components/ViewEvent.js
  app/src/views/DebateJudger.js
Labels: client

Updated button icons to make them semantically clearer. Also changed the 'not mobile friendly' text to 'experimental' as I think this is easier for users to understand.
  app/src/components/CalendarEvent.js
Labels: client

Changed `debateSelector` to only show available debates when a debate has not been selected.
  app/src/views/DebateJudger.js
  backend/src/main.rs
Labels: client

Updated debate judger to show which debate is being judged.
  app/src/views/DebateJudger.js
Labels: client

Removed the `backend-tests` GH action.
  .github/workflows/backend-tests.yml
  backend/db/__init__.py
Labels: none

Added model for events in the calendar.
  backend/db/__init__.py
Labels: none

Added page `structure` on argumentation.
  docs/howto/argumentation/structure.md
  mkdocs.yml
Labels: debating-guide, d3bate-docs

Automated deployment: Wed Jan 29 19:04:43 UTC 2020 8a323d7570b760ea87f1e4b5a0c33975132acbec
  404.html
  getting-started/getting-started.pdf
  getting-started/index.html
  howto/argumentation/index.html
  howto/argumentation/index.pdf
  howto/argumentation/structure/index.html
  howto/argumentation/structure/structure.pdf
  howto/background/feminism/feminism.pdf
  howto/background/feminism/index.html
  howto/background/index.html
  howto/background/index.pdf
  howto/background/justice/index.html
  howto/background/justice/justice.pdf
  howto/background/media/index.html
  howto/background/media/media.pdf
  howto/background/religion/index.html
  howto/background/religion/religion.pdf
  howto/formats/bp/bp.pdf
  howto/formats/bp/index.html
  howto/index.html
  howto/index.pdf
  index.html
  index.pdf
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Labels: none

Added school uniform example to structure section of the argumentation section.
  docs/howto/argumentation/structure.md
Labels: debating-guide, d3bate-docs
