Repository d3bate/d3bate, changes with the labels that .github/labeler.yml gives for each.
All labels: client, cloud-functions

Added `npm install` for cloud functions.
  .github/workflows/firebase.yml
Labels: none

Updated `README.md`
  README.md
Labels: none

Added `cloud-uploader.png` illustration.
  assets/illustrations/cloud-uploader.png
Labels: none

Added `cloud-downloader` illustration
  app/src/App.scss
  assets/illustrations/cloud-downloader.png
Labels: client

Added illustrations to homepage.
  CODE_OF_CONDUCT.md
  app/src/App.scss
  app/src/views/Dashboard.js
Labels: client

Updated text on the homepage.
  app/src/views/Dashboard.js
Labels: client

Updated `setUpNewUsers` cloud function to add a field `clubID` to the documents in the `clubMemberships` collection.
  app/src/App.scss
  app/src/views/Dashboard.js
  functions/index.js
Labels: client, cloud-functions

.github/labeler.yml:

client:
- app/**/*

cloud-functions:
- functions/**/*
